/*-----------------------------
 * START - Reset
 *--------------------------- */

body {
    margin: 0;
}

/*-----------------------------
 * END - Reset
 *--------------------------- */

/*-----------------------------
 * START - Typography
 *--------------------------- */

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-Regular.woff2);
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-BoldItalic.woff2);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-ExtraBold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-ExtraBoldItalic.woff2);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-Italic.woff2);
    font-style: italic;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-LightItalic.woff2);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-MediumItalic.woff2);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-SemiBold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-SemiBoldItalic.woff2);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-Thin.woff2);
    font-weight: 100;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono-ThinItalic.woff2);
    font-weight: 100;
    font-style: italic;
}

body {
    font-family: "JetBrainsMono", Arial, serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h1, .h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2, .h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3, .h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4, .h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

h5, .h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6, .h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

/*-----------------------------
 * END - Typography
 *--------------------------- */

/*-----------------------------
 * START - Match Two Styles
 *--------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#match-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    overflow: hidden;
}

#match-grid.solved {
    background: rgb(122,134,184);
    background: linear-gradient(180deg,
    rgba(122,134,184,1) 0%,
    rgba(240,219,79,1) 20%,
    rgba(227,76,38,1) 40%,
    rgba(33,76,229,1) 60%,
    rgba(52,52,52,1) 80%),
    rgba(122,134,184,1) 100%;
    animation: animatedBackground 1s infinite alternate;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 100vh 100vh; }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.static-card,
.flip-card {
    background-color: transparent;
    aspect-ratio: 1/1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.static-card {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
}

.static-card span {
    display: inline-block;
    font-size: 12.5vw;
    line-height: 1;
    margin: auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an peek when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotate3d(0.3, -1, 0, 30deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card .flip-card-inner.opened {
    transform: rotateY(180deg);
}

.flip-card .flip-card-inner.correct .flip-card-back {
    /*box-shadow: inset 0 0 10px 10px #00c300;*/
    filter: grayscale(0%);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

[data-back] .flip-card-back {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: white;
    color: transparent;
    filter: grayscale(100%);
    animation: filter 1s linear;
}

[data-back="PHP"] .flip-card-back {
    background-image: url("../img/logos/PHP.png");
}
[data-back="JavaScript"] .flip-card-back {
    background-image: url("../img/logos/JavaScript.png");
}
[data-back="HTML"] .flip-card-back {
    background-image: url("../img/logos/HTML.png");
}
[data-back="CSS"] .flip-card-back {
    background-image: url("../img/logos/CSS.png");
}
[data-back="WordPress"] .flip-card-back {
    background-image: url("../img/logos/WordPress.png");
}
[data-back="ReactJS"] .flip-card-back {
    background-image: url("../img/logos/ReactJS.png");
}
[data-back="WPBakery"] .flip-card-back {
    background-image: url("../img/logos/WPBakery.png");
}
[data-back="Elementor"] .flip-card-back {
    background-image: url("../img/logos/Elementor.png");
}
[data-back="SEO"] .flip-card-back {
    background-image: url("../img/logos/SEO.png");
}
[data-back="MySQL"] .flip-card-back {
    background-image: url("../img/logos/MySQL.png");
}
[data-back="jQuery"] .flip-card-back {
    background-image: url("../img/logos/jQuery.png");
}

@keyframes tada {
    0% {
        transform: rotateY(-180deg);
        opacity: 1;
    }
    15%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.animate__tada {
    -webkit-animation-name: tada;
    animation: tada 1.1s infinite;
}

@media screen and (orientation:portrait) {
    #match-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .static-card span {
        font-size: 25vw;
    }
}

/*-----------------------------
 * END - Match Two Styles
 *--------------------------- */

/*-----------------------------
 * START - Parallax
 *--------------------------- */

section:not(.parallax) {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.parallax {
    position: relative;
    z-index: 0;
}

#match-grid {
    --parallax-speed: 0.75;
}

.parallax > * {
    animation: parallax linear;
    animation-timeline: scroll();
}

@keyframes parallax {
    to {
        transform: translateY( calc( var(--parallax-speed ) * 200px ) );
    }
}

/*-----------------------------
 * END - Parallax
 *--------------------------- */

/*-----------------------------
 * START - Intro
 *--------------------------- */

#intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #343434;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
}

#intro > * {
    max-width: 800px;
    margin: auto;
}

/*-----------------------------
 * END - Intro
 *--------------------------- */


/*-----------------------------
 * START - Work
 *--------------------------- */

section#work {
    display: flex;
    flex-wrap: wrap;
}

section#work > .work-card {
    aspect-ratio: 1/1;
    flex: 0 1 25%;
    gap: 1px;
    min-width: 0;
    min-height: 0;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 0 1rem;
}

section#work:has(.work-card.active ) {
    padding-top: 100vh;
}

body:has(.work-card.active ) section:not(#work) {
    display: none;
}

section#work > .work-card.active {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    flex-basis: 100%;
    aspect-ratio: auto;
    cursor: initial;
    z-index: 1;
}

.work-card:hover .work-card-front {
    filter: grayscale(0%);
}

.work-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.work-card .work-card-front {
    background-size: cover;
    background-color: #343434;
    filter: grayscale(100%);
    display: flex;
    flex-direction: column;
}

.work-card .work-card-front-label {
    background: rgba(255, 255, 255, 0.8);
    margin-top: auto;
    padding: 10px;
    transition: all 0.1s linear;
    box-sizing: border-box;
    z-index: 3;
}

.work-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.work-card-gallery {
    display: none;
    position: absolute;
    inset: 0;
    background-color: #343434;
}

.work-card-gallery-item {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #343434;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.work-card-navigation {
    display: none;
    position: absolute;
    inset: 0;
    z-index: 1;
}
.work-card:first-child .work-card-prev,
.work-card:last-child .work-card-next
{
    display: none;
}
.work-card-next,
.work-card-prev {
    width: 3rem;
    height: 100%;
    color: #343434;
    font-size: 4rem;
    opacity: 0;
    line-height: 100vh;
    display: flex;
}
.work-card-next:hover,
.work-card-prev:hover {
    opacity: 1;
    cursor: pointer;
}
.work-card-next:before,
.work-card-prev:before {
    background: rgba( 255 255 255 / 0.6);
    display: block;
    height: 4rem;
    aspect-ratio: 1/1;
    line-height: 1;
    margin: auto;
}
.work-card-next {
    margin-left: auto;
}
.work-card-next:before {
    content: "\276D";
}
.work-card-prev {
    margin-right: auto;
}
.work-card-prev:before {
    content: "\276C";
}

.work-card-gallery-dots {
    display: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.4;
    z-index: 4;
}

.work-card-gallery-dots:hover {
    opacity: 1;
}

.work-card-gallery-dot {
    aspect-ratio: 1/1;
    width: 2rem;
    background: white;
    border: 1px solid #343434;
    transition: transform 0.5s ease-in-out;
    transform: rotate(180deg);
    cursor: pointer;
}

.work-card-gallery-toggle {
    aspect-ratio: 1/1;
    width: 2rem;
    cursor: pointer;
    box-shadow: 0 0 0 1rem #343434;
    background: #343434;
}

.work-card-gallery-toggle.playing {
    height: 2rem;
    width: 2rem;
    border: none;
    margin-left: 1.2rem;
    border-right: 0.5rem solid white;
    border-left: 0.5rem solid white;
    box-sizing: border-box;
    transition: border 0.2s linear;
}
.work-card-gallery-toggle.paused {
    height: 0;
    width: 0;
    margin-left: 1.2rem;
    border-left: 2rem solid #fff;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
}

.work-card-details {
    text-align: left;
    transition: max-height 0.3s linear;
    max-height: 0;
    overflow: hidden;
}

.work-card.active .work-card-navigation {
    display: flex;
    justify-content: space-between;
}

.work-card.active .work-card-gallery-dots {
    display: flex;
    gap: 1rem;
}

.work-card.active .work-card-gallery {
    display: grid;
    grid-template-areas: "cell";
}
.work-card.active .work-card-gallery-item.active {
    display: block;
    opacity: 1;
    pointer-events: all;
}
.work-card.active .work-card-gallery-dot.active {
    transform: rotate(45deg);
}

.work-card.active .work-card-front {
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(0%);
}

.work-card.active .work-card-details {
    max-height: 100vh;
}

.work-card.active .work-card-front-label {
    margin: auto;
    width: 50%;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px 4px rgba(0 0 0 / 0.25);
}

.work-card-buttons {
    display: flex;
    gap: 1rem;
    position: sticky;
    margin: -10px;
    padding: 10px;
    top: -10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.work-card-buttons .button-zoom,
.work-card-buttons .button-info
{
    display: none;
}

.work-card-buttons .button-close {
    display: none;
    margin-left: auto;
}
.work-card.active .button-zoom,
.work-card.active .button-close {
    display: inline-block;
}
section#work > .work-card.active:has(.zoom) {
    z-index: 3;
}
.work-card.active .work-card-front.zoom,
.work-card.active .work-card-front.zoom .work-card-gallery-item {
    background-size: cover;
    background-position: top left;
}
.work-card.active .work-card-front.zoom .button-info {
    display: inline-block;
}
.work-card.active .work-card-front.zoom .work-card-front-label {
    height: 66px;
    background: transparent;
    width: 100%;
    margin: auto auto 0;
    overflow: hidden;
}
.work-card.active .work-card-front.zoom .work-card-front-label .work-card-buttons {
    background: transparent;
}
.work-card.active .work-card-front.zoom .button-zoom,
.work-card.active .work-card-front.zoom .button-close,
.work-card.active .work-card-front.zoom .work-card-navigation {
    display: none;
}


@media ( max-width: 480px ) {
    section#work > .work-card {
        aspect-ratio: 1/1;
        flex: 0 1 100%;
    }
    .work-card.active .work-card-front {
        background-size: contain;
        background-position: top center;
    }

    .work-card.active .work-card-front-label {
        margin: auto 10px 10px;
        width: calc( 100% - 20px);
        height: 70%;
        overflow-y: auto;
    }
}

@media screen and (orientation:landscape) {
    .work-card.active .work-card-front-label {
        margin: auto auto 0;
        width: 100%;
        overflow-y: auto;
    }

}

@media ( min-width: 1200px ) {
    .work-card.active .work-card-front-label {
        margin: auto;
        width: 50%;
    }

}

/*-----------------------------
 * END - Work
 *--------------------------- */


/*-----------------------------
 * START - Buttons
 *--------------------------- */

i.button {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: white;
    border: 1px solid #343434;
    border-radius: 50%;
    font-style: normal;
    cursor: pointer;
}

i.button:before {
    font-size: 32px;
    line-height: 32px;
    color: #343434;
}

i.button.button-close:before {
    content: '\2715';
}

i.button.button-globe:before {
    content: '\1F310';
    font-size: 20px;
}

i.button.button-launch:before {
    content: '\1F680';
    font-size: 20px;
}

i.button.button-zoom:before {
    content: "\1F50E";
    font-size: 22px;
}

i.button.button-info:before {
    content: "\1F4C4";
    font-size: 22px;
}

/*-----------------------------
 * END - Buttons
 *--------------------------- */