bower_components/*
!bower_components/jquery/
bower_components/jquery/*
!bower_components/jquery/dist
bower_components/jquery/dist/*
!bower_components/jquery/dist/jquery.min.js

!bower_components/foundation-sites/
bower_components/foundation-sites/*
!bower_components/foundation-sites/dist
bower_components/foundation-sites/dist/*

!bower_components/foundation-sites/dist/js
bower_components/foundation-sites/dist/js/*
!bower_components/foundation-sites/dist/js/foundation.min.js

!bower_components/foundation-sites/dist/css
bower_components/foundation-sites/dist/css/*
!bower_components/foundation-sites/dist/css/foundation.min.css
vendor/*
node_modules/*